.navbar-brand {
    /* background-color: #85A88A; */
    font-weight: bold;
    color: #85A88A !important;
}
.navbar-text {
    color: #c1cac2;
}
.container {
    width: 90vw;
    /* border: solid white; */
}
/* .col {
    border: solid white;
}
.col-6 {
    border: solid white;
}
.col-5 {
    border: solid white;
} */
.display-4 {
    color: #85A88A;
    font-weight: bold;
    margin-top: -20px;
    font-size: 30px ;
}
body {
    background-color: #cad1cb;
    margin-bottom: 20%;
    margin-top: 0;

}
footer {
    /* border: solid black; */
    /* padding: 3px; */
    text-align: center;
    font-weight: bold;
    background-color: #343a40;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #85A88A;
    margin-top: 2rem;
}
.foot-text {
    color: #85A88A;
    padding: .5rem;
    margin: 2px;
    font-weight: lighter;
    font-size: 10px;
    font-family: sans-serif;

}
.footer {
    background-color: #85A88A;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}
.jumbotron {
    margin-top: 10px;
    background-color: #343a40;
    color: #85A88A;
    border: 1px solid #85a88a;
}
.accordion, .list-group {
    margin-top: 10px;
}
.row {
    margin-bottom: 10px;
}
.zacks_face {
    max-width: 200px;
    max-height: 250px;
    margin: 0 auto 3% auto;
}
.hike {
    max-width: 60%;
    max-height: 30%;
    margin: 0 auto 3% auto;
}
.soccer {
    max-width: 250px;
    max-height: 300px;
    margin: 0 auto 3% auto;
}
.my-4 {
    background-color: #85A88A;
}
.card-header {
    background-color: #343a40;
    color: #85a88a;
    text-align: center;
}
.btn {
    color: #85A88A;
}
.btn-link {
    color: #85A88A;  
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem #85A88A;
}
.btn-link:hover {
color: #c1cac2;
}
.card-body {
    background-color: #343a40;
    color: #85A88A;
}
.list-group-item {
    background-color: #343a40;
    color: #85A88A; 
    border: 1px solid #85A88A;
}
.card {
    border: 1px solid #85A88A;
}
.resume {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.insta {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.github {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.linkedin {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.reference {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
/* .card1 {
    margin-right: 30px !important;
    margin-left: 30px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
} */
/* .card-img-top {
    max-width: 200px;
    max-height: 200px;
    
} */
.portfolio-header {
    text-align: center;
    color: #343a40;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.card-title {
    font-weight: bold;
    color: white;
    /* display: flex;
    align-items: flex-end;
    justify-content: center; */
}
.card-text {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.btn1 {
    color: #343a40;
    font-weight: bold;
    background-color: #85a88a;
    border: 1px solid #c1cac2;
}
.btn1:hover {
    background-color: #c1cac2;
}
.list-group-item-action:focus, .list-group-item-action:hover {
    z-index: 1;
    color: #343a40;
    text-decoration: none;
    background-color: #85a88a;
    border: 1px solid #c1cac2;
}
.card-footer {
    background-color: #343a40;
    font-size: smaller;
    color: #85A88A;
}
.card-p {
    margin-top: 10px;
}
.picSize {
    /* height: 200px;
    width: 250px; */
}
/* .col-adj {
    margin: 1px;

} */
.parallax {
    background: url("assets/parallax_2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    
}
.row-parallax {
    padding-top: 250px;
}
.col-adj {
    margin-bottom: 20px;
}
.card-footer-height {
    min-height: 300px;
}
.Github-link {
    color: #85A88A;
    font-weight: bold;
    text-decoration: underline;
}

.list-inline-item:not(:last-child) {
    margin-right: 0rem;
}