.navbar-brand {
    /* background-color: #85A88A; */
    font-weight: bold;
    color: #85A88A !IMPORTANT;
}
.navbar-text {
    color: #c1cac2 !important;
}
.container {
    /* border: solid black; */
}
.col {
    /* border: solid black; */
}
.col-6 {
    border: solid black;
}
.col-5 {
    border: solid black;
}
.display-4 {
    color: #85A88A;
    font-weight: bold;
    margin-top: -20px;
    font-size: 30px !important;
}
body {
    background-color: #c1cac2 !important;
}
footer {
    /* border: solid black; */
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    background-color: #343a40;
    position: relative;
    bottom: 0;
    width: 100%;
}
.foot-text {
    color: #85A88A;
}
.footer {
    background-color: #85A88A;
    position: relative;
    bottom: 0;
    height: 1px;
    width: 100%;
}
.jumbotron {
    margin-top: 10px;
    background-color: #343a40 !important;
    color: #85A88A !important;
}
.accordion {
    margin-top: 10px;
}
.row {
    margin-bottom: 10px;
}
.zacks_face {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 25px;
}
.my-4 {
    background-color: #85A88A !important;
}
.card-header {
    background-color: #343a40 !important;
    color: #85a88a;
    text-align: center;
}
.btn {
    color: #85A88A !important;
}
.btn-link {
    color: #85A88A !important;  
}
.card-body {
    background-color: #343a40 !important;
    color: #85A88A !important;
}
.list-group-item {
    background-color: #343a40 !important;
    color: #85A88A !important; 
    border: 1px solid #85A88A !important;
}
.card {
    border: 1px solid #85A88A !important;
}
.resume {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.insta {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.github {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.linkedin {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
.reference {
    margin: o auto;
    max-height: 30px;
    max-width: 30px;
    float: right;
}
/* .card1 {
    margin-right: 30px !important;
    margin-left: 30px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
} */
/* .card-img-top {
    max-width: 200px;
    max-height: 200px;
    
} */
.portfolio-header {
    text-align: center;
    color: #343a40;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.card-title {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.card-text {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.btn1 {
    background-color: #c1cac2 !important;
    border: #c1cac2 !important;
}